.FAQContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.FAQBox {
    margin-top: 200px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    border: 2px solid #c9c9c9;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: transparent;
    box-shadow: 0 0 30px var(--color-primary--dark);
}

.FAQHelp {
font-size: 40px;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 50px;
align-items: center;
gap: 24px;
}

.btnContact {
    background-color: rgba(70, 1, 150, 0.527);
    width: 200px;
}