.titleContainer {
padding-left: 10vw;
    padding-bottom: 40px;
}

.featuresContainer {
padding: 160px 50px;
transition: transform 1s, opacity 1s;
}

.featuresHidden {
    opacity: 0;
    transform: translateY(8rem);
}

@media (max-width: 1100px) {
    .featuresContainer{
        padding: 120px 40px;
    }

}
