:root {
  --card-background: url("/card-bg_black.png");
  --text-opacity: 1;

  --box-shadow-primary: 0 0 20px #c9c9c9;

  --text-shadow: 0 0 5px rgba(201, 153, 255, 0.5);

  --button-box-shadow: 0 0 20px rgba(201, 153, 255, 0.5);
  --button-color-fill: rgba(116, 61, 139, 0.705);

  --color-primary--dark: #c9c9c9;
  --color-secondary--dark: rgb(1, 0, 26);
  --color-secondary--dark--alpha: rgba(1, 0, 26, 0.95);
  --color-primary-opaque--dark: #c9c9c9bd;
  --gradient-primary--dark: linear-gradient(
    177deg,
    rgb(1, 0, 26) 0%,
    rgb(47, 0, 100),
    rgb(0, 42, 53) 82%
  );

  --heading-size-1: 32px;
  --heading-line-1: 1.5;
  --heading-weight-1: 700;
  --heading-size-2: 20px;
  --heading-line-2: 1.5;
  --heading-weight-2: 700;

  --text-size-1: 20px;
  --text-line-1: 1.5;
  --text-weight-1: 400;
  --text-size-2: 16px;
  --text-line-2: 1.5;
  --text-weight-2: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  padding-right: calc(100vw - 100%);
  /* Ensures no horizontal scrollbars due to overflow */
}

body {
  min-width: 100vw;
  /* Ensures the body does not shrink below viewport width */
  background-image: var(--gradient-primary--dark);
  background-size: cover;
  font-family: "Teko", sans-serif;
  color: var(--color-primary--dark);
}

html {
  box-sizing: border-box;
}

