.articleContainer {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}

.sectionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.imageContainer {
  border: 2px solid #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 0 20px #c9c9c9;
  width: 450px;
  height: 375px;
  transition: filter 0.5s;
}

.imageLazy {
  filter: blur(20px);
}

.sectionImage {
  width: 200px;
  border-radius: 20px;
}

.sectionHeader {
  font-size: var(--heading-size-1);
  font-weight: var(--heading-weight-1);
  line-height: var(--heading-line-1);
}

.sectionParagraph {
  font-size: var(--text-size-1);
  font-weight: var(--text-weight-1);
  line-height: var(--text-line-1);
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #c9c9c9;
  box-shadow: 0 0 10px #c9c9c9;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.icon {
  width: 65%;
  height: 65%;
}

@media (max-width: 700px) {
  .sectionHeader {
    font-size: var(--heading-size-2);
    font-weight: var(--heading-weight-2);
    line-height: var(--heading-line-2);
  }

  .sectionParagraph {
    font-size: var(--text-size-2);
    font-weight: var(--text-weight-2);
    line-height: var(--text-line-2);
  }

  .iconContainer {
    width: 35px;
        height: 35px;
  }

  .articleContainer {
    max-width: 70vw;
  }
}

@media (max-width: 700px) {
  .imageContainer {
    width: 350px;
      height: 275px;
  }
}